h1{
    color:white;
    text-align: center;
}
h2{
    color:#cc99ff;
}
.topnav ul{
    list-style-type: none;
    background-color: #cc99ff;
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    margin:0;
    padding: 0;
}
.topnav li{
    float: right;
    padding-top: 0;
    font-size: large;
    color: white;
}
.topnav li a{
    text-decoration: none;
    padding-top: 10px;
    display: block;
    width: 100px;
    height: 40px;
    font-size: large;
    color: white;
    text-align: center;
    transition: all 0.3s ease;

}
.topnav li a.active{
    background-color:#bd7cff

}
.topnav li a:hover:not(.active){
    color: #ffffff;
    background-color: #b062ff;
    text-align: center;

}

.index{
    text-align: center;
    color: #ffffff;
}
.column{
    float: left;
    margin-top: 60px;
}
.column.fifty{
    width: 50%;
}
.column.side{
    width: 20%;
    position: fixed;
    left: 5px;
}
.column.middle{
    width: 80%;
    position: relative;
    left: 20%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top:20px;
}
.card1{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
}
@media screen and (max-width:600px) {
    .card1{
        margin: 0;
    }
    .column.side,.column.middle,.column.fifty{
        height: auto;
        float: none;
        width: 100%;
    }
    .column.side{
        display: none;
    }
    .column.middle{
        position: static;
    }
    .sidebar li{
        display: inline;
    }
}
.sidebar ul{
    list-style-type: none;
}
.sidebar li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.sidebar li{
    color: #cc99ff;
}
.sidebar li a:hover{
    color:#b062ff;

}
